on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
name: TOC Generator
jobs:
  generateTOC:
    name: TOC Generator
    runs-on: ubuntu-latest
    steps:
      - uses: technote-space/toc-generator@v4
        with:
          TARGET_PATHS: javapractice/index.md,system-design/index.md,system-design/databases.md,README.md
          MAX_HEADER_LEVEL: 6
